
body {
    margin: auto;
    background-color: white;
    color: black;
  }

  .title{
    text-align: center;
  }
  

  .imgs {
    height: 8cm;
    width: 8cm;
    margin-left: 2.3cm;
    border-radius: 1cm;
    
  }

  .prod-title{
    text-align: center;
    color: white;
  }

  .btn{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
  }


  
  .left {
    margin-left: 70px;
    padding: 60px;
    width: 5in;
    float: left;
  }

  .customizations-container{
    display: flex;
    
  }

  .first-cust{
    margin-left: 1cm;
  }

  .second-cust{
    margin-left: 2cm;
  }
  .right {
    background-color: rgb(0, 61, 191);
    margin-left: 5px;
    padding: 40px;
    width: 5in;
    float: right;
    border-radius: 30px;
  }

  

 /* .right {
    margin: 5cm;
    padding: 70px;
    float: right;
  } */
  

 .center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px ;

}